<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.InvoiceMapper">
  <resultMap id="BaseResultMap" type="com.team.dto.Invoice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_code" jdbcType="VARCHAR" property="startCode" />
    <result column="end_code" jdbcType="VARCHAR" property="endCode" />
    <result column="current" jdbcType="VARCHAR" property="current" />
    <result column="use_date" jdbcType="DATE" property="useDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, start_code, end_code, current, use_date, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invoice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.team.dto.Invoice">
    insert into invoice (id, type, start_code, 
      end_code, current, use_date, 
      status, remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{startCode,jdbcType=VARCHAR}, 
      #{endCode,jdbcType=VARCHAR}, #{current,jdbcType=VARCHAR}, #{useDate,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.team.dto.Invoice">
    insert into invoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startCode != null">
        start_code,
      </if>
      <if test="endCode != null">
        end_code,
      </if>
      <if test="current != null">
        current,
      </if>
      <if test="useDate != null">
        use_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startCode != null">
        #{startCode,jdbcType=VARCHAR},
      </if>
      <if test="endCode != null">
        #{endCode,jdbcType=VARCHAR},
      </if>
      <if test="current != null">
        #{current,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        #{useDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.dto.Invoice">
    update invoice
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startCode != null">
        start_code = #{startCode,jdbcType=VARCHAR},
      </if>
      <if test="endCode != null">
        end_code = #{endCode,jdbcType=VARCHAR},
      </if>
      <if test="current != null">
        current = #{current,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        use_date = #{useDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.dto.Invoice">
    update invoice
    set type = #{type,jdbcType=INTEGER},
      start_code = #{startCode,jdbcType=VARCHAR},
      end_code = #{endCode,jdbcType=VARCHAR},
      current = #{current,jdbcType=VARCHAR},
      use_date = #{useDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from invoice
  </select>
</mapper>